<nav class="navbar-footer">
    <div class="footer-stats" *ngIf="hasData">
        <span class="stat-item">{{ viewState.totalCount | number }} items</span>
        <span class="stat-separator">|</span>
        <span class="stat-item" [class.stat-item-active]="viewState.isSubset">
            {{ viewState.visibleCount | number }} shown
        </span>
        <span class="stat-separator">|</span>
        <span class="stat-item">{{ viewState.uniqueHosts | number }} hosts</span>
        <ng-container *ngIf="hasStatusBreakdown">
            <span class="stat-separator">|</span>
            <span class="status-breakdown">
                <span class="status-chip status-2xx" *ngIf="viewState.statusBreakdown.success">
                    {{ viewState.statusBreakdown.success | number }} 2xx
                </span>
                <span class="status-chip status-3xx" *ngIf="viewState.statusBreakdown.redirect">
                    {{ viewState.statusBreakdown.redirect | number }} 3xx
                </span>
                <span class="status-chip status-4xx" *ngIf="viewState.statusBreakdown.clientError">
                    {{ viewState.statusBreakdown.clientError | number }} 4xx
                </span>
                <span class="status-chip status-5xx" *ngIf="viewState.statusBreakdown.serverError">
                    {{ viewState.statusBreakdown.serverError | number }} 5xx
                </span>
                <span class="status-chip status-other" *ngIf="viewState.statusBreakdown.other">
                    {{ viewState.statusBreakdown.other | number }} other
                </span>
            </span>
        </ng-container>
    </div>
    <span class="toolbar-spacer"></span>
    <div class="footer-meta">
        <span *ngIf="burpVersion">Burp {{ burpVersion }}</span>
        <span class="stat-separator" *ngIf="burpVersion && exportTime">|</span>
        <span *ngIf="exportTime" [title]="exportTime">Exported {{ exportTime }}</span>
        <span *ngIf="!hasData && !burpVersion">Open a Burp XML export to begin.</span>
    </div>
</nav>